*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo img{
    width: 150px;
    border-radius: 30px;
}
body{
    font-family: 'Noto Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
p{
    color: rgba(233, 233, 233, 0.842);

}
.titlemain{
    color: white;
    text-shadow: 5px 5px 5px black;
}
.herosmall{
        color: white;
        z-index: 1;
        text-shadow: 2px 2px 5px black;
}

.container{
    width: 1300;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 100%;
    min-width: 300px;

}
.imgbackmain{
    background-image: url(Images/pexels-fauxels-31831831.png);
    height: 450px;
    top: -325px;
    columns: 12;
    background-repeat: no-repeat;
    background-attachment: local;
    position: relative;
    z-index: -1;

}
.btn{
    display: inline-block;
    background: rgb(0, 255, 149);
    color: white;
    padding: 8px 30px;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 30px;
}

.btn:hover{
    background-color: rgb(20, 221, 204);
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.mySlides {
    display: none;
}
/* Slideshow container */
.slideshow-container {
    width: 100%;
    max-height: 100vh;
    margin-top: -300px;
    margin-bottom: 100px;
    margin-left: 15%;
    float: left;
}
/* The dots/bullets/indicators */
.dot {

    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-flex;
    position: relative;
    left: -15%;
    transition: background-color 0.6s ease;

}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 100%;
    width: auto;
    padding: 16px;
    margin-right: 15%;
    margin-top: -10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.head{
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 50px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    background-color: #d3d3d3c7;
    border-radius: 20px;
    min-width: 200px;
    transition: transform 0.3s;
    margin-bottom: 50px;
}
.col-4 img{
width: 100%;
border-radius: 20px;
}

.head::after{
    content: '';
    background: rgb(0, 255, 149);
    width: 60px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.headu{
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 50px;
}
.headu::after{
    content: '';
    background: rgb(0, 255, 149);
    width: 120px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-4 h3{
    color: black;
    font-weight: 900; 
}
.col-4 p{
    font-size: 15px;
    color: black;
}
.col-4:hover{
    transform: scale(1.08);
}
.supportLink{
    color: rgb(255, 255, 255);
}

/*footer*/

.footer{
    background: #12121f;
    color:  white;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: rgba(177, 177, 177, 0.849);
    
}
.footer h3{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 25px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-1 img{
    width: 200px;
    border-radius: 30px;
}
.footer-col-3{
    text-align: center;
}
ul{
    list-style-type: none;
}

/* ---------------All Products------------------ */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
    margin-left: 100px;
    margin-right: 100px;
}
select{
    padding: 5px;
    background-color: #c7c7c7;
}
select:focus{
    outline: none;
}
.small-container{
    margin-top: -400px;
}
